<ion-header>
  <ion-toolbar>

    <!-- Insercción del Componente ion-menu de forma Sencilla -->
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <!-- 
      Insercción más Compleja del Componente ion-menu 
      <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="grid-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons> -->



    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item *ngFor="let c of componentes"
        [routerLink]="c.redirectTo" class="ion-text-capitalize" detail>
        <!-- detail nos indica la posibilidad de abrir items anidados -->
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
      {{ c.name }}
    </ion-item>
  </ion-list>

  <!-- <ion-button routerLink="/alert">
    Alert
  </ion-button>
  <ion-button routerLink="/action-sheet">
    Action Sheet
  </ion-button> -->
</ion-content>
