<app-header titulo="alert"></app-header>

<!-- <ion-header>
  <ion-toolbar>

    <ion-buttons
        slot="start">
      <ion-back-button
        defaultHref="/"
        text="Regresar"
        color="primary">

      </ion-back-button>
     </ion-buttons>

    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <ion-button (click)="presentAlert()" expand="block">
    Simple Alert
  </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expand="block">
    Alert Multi Buttons
  </ion-button>
  <ion-button (click)="presentAlertInput()" expand="block">
    Alert Inputs
  </ion-button>
</ion-content>
